{% extends 'base.html.twig' %}

{% block title %}Welcome to your CRM!
{% endblock %}

{% block body %}

	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h1>Customer Relationship Manager</h1>
		What can be done with this CRM:
		<ul>
			<li>Integration with webiste
				<ul>
					<li>Load customer base</li>
					<li>Load future appointments</li>
					<li>Load completed appointments</li>
					<li>Load appointment history</li>
					<li>Load reports history</li>
					<li>Load noc/invoice history</li>
					<ul></li>
					<li>Google Calendar Integration</li>
					<li>Phone Call Log</li>
					<li>Texts Log</li>
					<li>WhatsApp and Facebook Messenger Integration</li>
					<li>Marketing Tracking and Calendar
						<ul>
							<li>Social Media</li>
							<li>eMail</li>
							<li>Flyers</li>
							<li>Multiple Company Management</li>
							<li>Analytics Tools</li>
						</ul>
					</li>
				</main>
			</li>
		{% endblock %}
