{% extends 'base.html.twig' %}

{% block title %}Leads Manager
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Lead Management</h1>
		<ul>
			<li><a href="{{path('newLead')}}">Create Lead</a></li>
			<li><a href="{{path('viewAllLeads')}}">View Leads</a></li>
		</ul>
	</div>
{% endblock %}
